.form-container {
  width: 21rem;
  height: 85vh;
  padding: 1rem 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  border: 1px solid var(--light-black);
  background-color: #f7f8f9;
}
.form-container .heading {
  width: 15rem;
  margin: 0 auto 1rem 1.2rem;
}

.form-container p {
  opacity: 0.6;
}

.form-container .form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.textOnInput {
  position: relative;
}
.textOnInput input {
  width: 18rem;
  height: 1.5rem;
  padding: 8px 1rem;
  border: 1px solid var(--light-black);
  border-radius: 6px;
}
.textOnInput label {
  position: absolute;
  top: -13px;
  left: 14px;
  padding: 2px;
  font-size: 14px;
  z-index: 1;
  color: var(--primary-color);
}
.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.textOnInput label {
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form button {
  width: 20rem;
  height: 2.8rem;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  background-color: var(--light-black);
  cursor: pointer;
}

/* some styling for signup form */

.form .required {
  color: red;
}

.form .radio-button{
  margin-right: auto;
  margin-left: 1rem;
}

.form .radio-button input{
  margin: 8px;
  font-size: 18px;
  accent-color: var(--primary-color);
  transform: scale(1.3);
}
.form #signup-button{
  margin: auto 0 10px;
  background-color: var(--primary-color);
}